body {
    width: 100%;
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* background: rgb(215,219,177);
    background: linear-gradient(90deg, rgba(215,219,177,0.7091211484593838) 2%, rgba(193,104,108,1) 61%, rgba(207,99,103,1) 100%); */
    background: rgb(168,208,230);
    background: radial-gradient(circle, rgba(168,208,230,1) 0%, rgba(148,187,233,1) 100%);
}

.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
   .carda {
    margin: 50px auto;
    margin-left: 130px;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
  } 
  
  .carda .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }
  
  .carda .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
  }
  
  .carda .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
  }
  
  .carda:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  
  .title-white {
    color: white;
  }
  
  .title-black {
    color: black;
  }
  
  @media all and (max-width: 500px) {
    .card-list {
      flex-direction: column;
    }
  }
  